h2 {
  color: #ff216e;
}
.menu-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.menu-item {
  margin: 1em;
  width: calc(33.3% - 4em);
  padding: 1em;
  background-color: rgba(255,255,255,.25);
}
.menu-item > h3 {
  float: left;
}
.menu-item > p {
  float: right;
  padding-top: 6px;
}