form {
  width: 700px;
  background-color: rgba(255,255,255,0.1);
  margin: 8px auto;
  padding: 8px;
  text-align: left;
}
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.save-button {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #ff216e;
  border: 2px solid #ff216e;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}
.save-button:hover {
  background-color: white;
  color: #ff216e;
}
